{% extends 'todoapp/base.html' %}

{% block title %}
    Add task
{% endblock title%}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="container">
                    <form method="post" >
                        {%csrf_token%}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="row">
                                {{field.errors}}
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{field.label_tag}}
                                </div>
                                <div class="col">
                                    {{field}}
                                </div>
                            </div>
                        {% endfor%}
                        <div class="row">
                            <input class="btn btn-primary" type="submit" value="Submit">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
{% endblock content%}