{% extends 'todoapp/base.html'%}

{% block title%}
    HomePage
{% endblock title%}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-6">
                <h2>A To-do task list App</h2>
            </div>
            <div class="col">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
            <div class="col-6">
                <h2>List of all tasks to be done</h2>
                {% if task_list %}
                    {% for task in task_list%}
                    <div class="container">
                        <div class="row">
                            <div class="col-md-auto">
                                {{task.task_text}}
                            </div>
                            <div class="col">
                                Time Left {{task.task_deadline|timeuntil}}
                                <form action="{% url 'todoapp:remove_task' task.id%}">
                                    <input class="btn btn-primary" type="submit" value="Done">
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                <form action="{% url 'todoapp:add_task'%}">
                    <div>
                        <input class="btn btn-primary" type="submit" value="Add new task">
                    </div>
                </form>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
{% endblock content %}