{% extends 'todoapp/base.html'%}

{% block title%}
    HomePage
{% endblock title%}

{% block content %}

    <div class="headline ">
        A To-do task list
    </div>
        <div class="row">
            <div class="list-group-item col">
                <h2>List of all tasks to be done</h2>
            </div>
            <div class="col">
                <h2>Time Left</h2>
            </div>
        </div>
        {% if task_list %}
            {% for task in task_list%}
            <div class="row">
                <div class="list-group-item col">
                        {{task.task_text}}
                        <form action="{% url 'todoapp:remove_task' task.id%}">
                            <input type="submit" value="Done">
                        </form>
                </div>
                <div class="col">
                     {{task.task_deadline|timeuntil}}
                </div>
            </div>
            {% endfor %}
        {% endif %}
    <form action="{% url 'todoapp:add_task'%}">

        <div class="submit-button">
            <input type="submit" value="Add new task">
        </div>
    </form>
{% endblock content %}